@import url('../css/fonts.css');

html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    /*theme colors*/
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight:  #104f55;
    --lava: #fda34b;
    
    /*gradient color*/
    /*--blue-lava: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);*/
    --orange-button: #ffc478 90%;
    /*theme font-family*/
    --Abel: 'Abel', cursive;
    --Arvo: 'Arvo', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}


/*------------Global Classes--------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
    
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*prevents the icons to move vertically if the window is very small*/
}

ul{
    list-style-type: none; /*removes the list icons*/
}

h1{
    font-family: var(--Lexend);
    font-size: 3rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.5rem;
}

p{
    font-family: var(--Abel);
    font-size: 1.2rem;
    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;
}

span{
    font-family: var(--Livvic);
    font-size: 1rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
}

.container{
    margin: 0 5vw;
}

/*----x-------Global Classes-------x------*/

/*------------navbar--------------*/

.nav{
    background: white;
    padding: 0 2rem; /*1rem = 16px, 0 for top & bottom padding, 2 for left & right padding*/
    height: 0rem;
    min-height: 10vh; /*viewport height 1vh = 1% of the viewport height*/
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 35rem;
}


.nav .nav-items{

    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}
.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;

}

.nav .social{
    padding: 1.4rem 0;
}
.nav .social i{
    padding: 0.2rem;
}
.nav .social i:hover{
    color: var(--lava);
}
/*-----x------navbar-------x------*/

/*------------Main Site--------------*/

    /*------------site title--------------*/

    main .site-title{
        background-image: url('../assets/background-image.jpg');
        background-size: cover;
        height: 75vh;
        display: flex;
        justify-content: center;
        padding-top: 10rem;
    }
    
    main .site-title .site-background{
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
        width: 70%;
        position: absolute;
        padding: 2rem;
        text-align: center;
        color: var(--white);
    }

    main .site-title h1, h3{
        margin: .5rem;
    }

    main .site-title .btn{
        margin: 2rem;
        background: var(--orange-button);
        
    }

    main .site-title .btn:hover{
        background-color: var(--midnight);
        /*border: 1px solid var(--white);*/
        color: var(--white);
    }


    /*-----x------site title-------x------*/

    /*-----------Education section-------------*/

    main .container{
        position: relative;
        width: auto;
    }
    main .container h1{
        text-align: center;

    }

    main .container .education-content {
        display: grid;
        grid-template-columns: 70% 30%;   
    }

    main .education-content {
        width: 100%;
        margin-bottom: 5rem;
    }

    main .education-content .school-info .photo div{
        overflow: hidden;
    }

    main .education-content .school-info .photo .img{
        max-width: 80%;
        transition: all 1s ease;
    }
    main .education-content .school-info .photo .img:hover{
        transform: scale(1.2);
    }

    main .education-content .school-info .photo .btn{
        position: relative;
        left: 30%;
        background: var(--orange-button);
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    main .education-content .school-info .location{
        margin-top: 1rem;
        max-width: 80%;  
    }

    main .education-content .sidebar .personal-info{
        margin-bottom: 5rem;
    } 
    /*-----x-----Education section------x------*/


    /*------------Videos carousel--------------*/

    /*------------Videos carousel--------------*/
    #particles-js{
        background: var(--white);
        position: fixed;
        z-index: -1;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;    
    }
    
    main .video h1{
        text-align: center;
    }

    main .video .video-post{
        padding-top: 1rem;
    }

    main .video-post .video-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 70%;
        margin: 3rem 2rem;
        box-shadow: 0 20px 23px rgba(0, 0, 0, 0.4);
        background-color: rgba(255, 255, 255, 0.8);
    }


    /*add # of views later on...*/
    main .video-content span{
        display: block;
    }


    main .video-content .video-title{
        padding: 2rem 1rem;
    }

    main .video-content .btn-video{
        padding: 1rem 2rem;
        background: var(--orange-button);
        margin: .5rem;

    }

    section .container .owl-nav .owl-nav-prev, section .container .owl-nav .owl-nav-next{
        color: var(--text-gray);
        background: transparent;
        font-size: 2rem;
    }

    /*Any class that starts with owl- ...*/
    .owl-theme .owl-nav [class*='owl-']:hover{
        background: transparent;
        color: var(--lava);
    }

    .owl-theme .owl-nav [class*='owl-']{
        outline: none;
    }



    /*-----x------Videos carousel--------x-----*/


/*-----x------Main Site-------x------*/


/*------------Viewport less than or equal to 750px--------------*/
/*so the screen can be responsive*/

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}

/*----x-------Viewport less than or equal to 750px-------x-------*/

